li {
    list-style-type: none;
}
button {
    cursor: pointer;
}

#create {
    margin-bottom: 10px;
}
#create > input:nth-child(3) {
    margin-right: 5px;
}
.pokeList {
    font-size: 20px;
}
.pokeList li {
    margin-bottom: 10px;
}
.pokeList li span {
    margin-right: 5px;
}
.pokeList li button {
    border: 1px solid #666;
    background-color: inherit;
    padding: 2px 8px;
    border-radius: 6px;
    transform: translateY(-2px);
    font-size: 14px;
}


